.bs_footer {
    padding:2% 0;
    background-color: rgba(187, 185, 185,0.2);
    color: black;
}

.row {
    margin: 0;
    padding: 0;
  }
  
.title_footer {
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text_footer {
    font-size: small;
    font-weight: lighter;
    color: rgb(82, 80, 80);
}

li {
    display: block;
}

.social {
    text-align: left;
    padding: 5% 3%;
    margin: 0 5% 0px 0px;
    border: 1px solid white;
    border-radius: 50%;
    font-weight: bold;
    font-style: italic;
}


.social a {
    color: #ff5e00;    
}

.social:hover {
    -moz-box-shadow: 0px 3px 8px #ff5e00;
    -webkit-box-shadow: 0px 3px 8px #ff5e00;
    box-shadow: 0px 3px 8px #ff5e00;

    border: 1px solid #ff5e00;    
}

.email {
    width: 100%;
    padding: 10px;
    font-size: small;
    font-weight: lighter;
    color: black;
    border: 1px solid rgb(192, 189, 189);
}

.subscribe_button {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: #ff5e00;
    border: none;
}

.subscribe_button:hover {
    -moz-box-shadow: 0px 3px 8px #ff5e00;
    -webkit-box-shadow: 0px 3px 8px #ff5e00;
    box-shadow: 0px 3px 8px #ff5e00;

}

.category {
    font-size:12px;
    margin: 0;
    margin-top: 2px;
    color: rgb(83, 83, 83);
    font-weight:bolder;
}

.cat {
    margin: 2% 0;
    text-align: left;
}

@media only screen and (max-width: 500px) {
    .bs_footer { padding:0 1.5%;}
    .cat { margin-left: -10%;}
    .social {margin-top: 2%;}
}

.title {
    color: rgb(83, 81, 81);
    font-weight: bold;
}