<div class='container'>
    <div class='row'>
        <div class="offset-md-1 col-md-10">
            <div class='row contact'>
                <div class='col-md-6 get_on_touch'>
                    <h5 style='font-weight: bold;'>Get on touch</h5>
                    <br />
                    <div class='row'>
                        <div class='col-1'>
                            <svg width="1em" height="2em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        </div>
                        <div class='col'>
                            <span style='font-weight:bold;'>Address</span>
                            <br />
                            <span class='text_content'>123 Main Street, Any town, CA 12345 - USA</span>
                        </div>
                    </div>
                    <hr />
                    <div class='row'>
                        <div class='col-1'>
                            <svg width="1em" height="2em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                            </svg>
                        </div>
                        <div class='col'>
                            <span style='font-weight:bold;'>Phone</span>
                            <br />
                            <span class='text_content'>(012) 1244 2345</span>
                        </div>
                    </div>
                    <hr />
                    <div class='row'>
                        <div class='col-1'>
                            <svg width="1em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                            </svg>
                        </div>
                        <div class='col'>
                            <span style='font-weight:bold;'>Email</span>
                            <br />
                            <span class='text_content'>contact@contact.com</span>
                        </div>
                    </div>
                    <hr />
                    <div class='row'>
                        <div class='col'>
                            <span style='font-size: smaller;'>
                                The Aluminating Big Step Side Biars. The Aluminating Big Step Side Biars. The Aluminating Big Step Side Biars.
                            </span>
                        </div>
                    </div>
    
                </div>
                <div class='col-md-6 contact_form'>
                    <h5 style='font-weight: bold;'>Contact us</h5>
                    <br />
                    <div class='row'>
                        <div class='col' style='width:100%'>
                            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
                                <input type='text' class='name_input form-control' placeholder='Your Name (required)' formControlName="name" required />
                                <p *ngIf='submitted && f.name.errors.required'>
                                    Name should be compolsoury
                                </p>
                                <input type='email' class='email_input form-control' placeholder='Your Email (required)' formControlName="email" required />
                                <p *ngIf='submitted && f.email.errors.required'>
                                    Name should be compolsoury
                                </p>
                                <input type='text' class='subject_input form-control' placeholder='Subject' formControlName="subject" />
                                <textarea class='form-control' placeholder='Post Content' formControlName="comment"></textarea>
                                <p style='text-align: center;'>
                                    <input type='submit' value='Send' class='btn submit_button' *ngIf='!isShowLoader' /><br />
                                    <span *ngIf='isShowLoader' class="spinner-border text-danger" role="status"></span> <br />
                                    <span *ngIf='subscribedMessage' style='font-size: small; font-weight: bold; color: #ff5e00'>{{subscribedMessage}}</span>
                                </p>               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>