.error {
    color: black;
    width: 100%;
    text-align: center;
    padding:5%;
    font-weight:bolder;
}

.top {
    font-size:40px;
}

.middle {
    font-size:24px;
}

.lower {
    font-size:12px;
}

.butn {
    background-color: #ff5e00;
    color: white;
    font-size: 10px;
    padding:1% 3%;
    font-weight:bold;
}
.row {
    margin: 0;
    padding: 0;
  }
  