<div class='row'>
    <div class='col' style=' width: 100%; background-color: white; margin: 3% 0;'>
        <div class='row'>
            <div class="offset-md-1 col-md-10" style='width:100%;'>
                <!-- Given Sorting and Filter Option -->
                <div class='row con'>
                    <div class='col-md-3' style='width:100%;'>
                        <select class='categories'>
                            <option selected>Categories</option>
                            <option>Laptop</option>
                            <option>Mobile</option>
                        </select>
                        <br />
                        <select class='sub_categories'>
                            <option selected>Sub Categories</option>
                            <option>Laptop</option>
                            <option>Mobile</option>
                        </select>
                        <br />
                        <select class='brands'>
                            <option selected>Brands</option>
                            <option>Laptop</option>
                            <option>Mobile</option>
                        </select>
                        <br />
                        <select class='price'>
                            <option selected>Price</option>
                            <option>Laptop</option>
                            <option>Mobile</option>
                        </select>
                        <br />
                    </div>
                    <div class='col' style='width:100%;'>
                        <div class='options'>
                            <span><button class='popularity_filter'>Popularity</button></span>
                            <span><button class='rating_filter'>Price - High to Low</button></span>
                            <span><button class='price_filter'>Price - Low to High</button></span>
                            <span><button class='price_filter'>Newest First</button></span>
                        </div>
                        <br />

                        <!-- Products Ordering -->
                        <div class='row' style='margin: 2.5% 0;'>
                            <div class='col-md-3 col-xs-6' *ngFor="let product of products | paginate: config" style='padding: 2px;'>
                                <app-product-template [product]='product'></app-product-template>
                            </div>
                        </div>
                        <br />

                        <!-- Pagination  -->
                        <div>
                            <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
