.empty_text {
    color: black; 
    font-weight: bold; 
    padding: 1% 2%;
    font-size: large;
}

.empty_sub_text {
    color: gray; 
    font-weight: bold; 
    font-size: small;
}

th {
    text-align: center; 
}

td {
    text-align: center; 
}