<div class='row' *ngIf="numbers?.length < 1">
    <div class='col' style=' width:100%; text-align:center;'>
        <br />
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-cart3" fill="rgb(168, 166, 166)" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        <br />
        <br />
        <span class='empty_text'>Your Cart is Empty</span>
        <br />
        <span class='empty_sub_text'>Explore more shortlist some items.</span>
        <br />
        <br />
    </div>
</div>

<div class='container'>
    <div class='row'>
        <div class="offset-md-1 col-md-10">
            <div class='row'>
                <div class='col' style='width:100%; margin:5% 0;'>
                    <div class='card'>
                        <div class='card-body'>
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                        <th scope="col"><button class='btn btn-danger' style='font-size:10px; border-radius:1px;'>Clear All</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of numbers">
                                        <td><img src='assets/images/cart_product.jpg' style='width:50px; height:50px' class='img-responsive' /></td>
                                        <td>Headset Perro</td>
                                        <td>88.00</td>
                                        <td>1</td>
                                        <td>88.00</td>
                                        <td>
                                            <button style='background-color: white; border: none;'>
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <td>
                                        <a [routerLink]="['']">
                                            <button class='btn btn-warning' style='font-size: 10px; font-weight:bold; border-radius: 1px;'>Continue Shopping</button>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <span style='color: black; font-weight: bolder; font-size: medium;'>$133.23</span>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/check-out']">
                                            <button class='btn btn-warning' style='font-size: 10px; font-weight:bold; border-radius: 1px;'>Proceed To Checkout</button>
                                        </a>
                                    </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
