<div class='row' *ngIf="numbers?.length < 1">
    <div class='col' style=' width:100%; text-align:center;'>
        <br />
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-cart3" fill="rgb(168, 166, 166)" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        <br />
        <br />
        <span class='empty_text'>Your Cart is Empty</span>
        <br />
        <span class='empty_sub_text'>Explore more shortlist some items.</span>
        <br />
        <br />
    </div>
</div>

<div class='container-fluid'>
    <p class='cart_summary'>
        CART SUMMARY
    </p>
    <table class="table table-responsive-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Item Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of products; index as i;">
                <td>{{ i + 1 }}</td>
                <td>
                    <span>
                        <img src='assets/images/cart_product.jpg' style='width:50px; height:50px' class='img-responsive' />
                    </span>
                    <span class='pro_title'>
                        {{ pro.title }}
                    </span>
                </td>
                <td>
                    <span>
                        <button class='decrement'>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                    </span>
                    <span class='qty'>
                        4
                    </span>
                    <span>
                        <button class='increment'>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </span>
                </td>
                <td style='text-align:left;'>
                    <span class='price'>
                        90
                    </span><br />
                    <span class='mrp'>
                        <stroke><b>MRP</b> 200</stroke>
                    </span><br />
                    <span class='discount'>
                        <b>Discount</b> 200 off
                    </span>
                </td>
                <td> 360 </td>
                <td>
                    <span>
                        <button class='addWishlist'>
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bookmark-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                            </svg>
                        </button>
                    </span>
                    <span>
                        <button class='removeCard'>
                            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-bag-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293 6.854 8.146z"/>
                            </svg>
                        </button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class='row'>
        <div class='col-md-6 col-12'>
            <h6>Have Discount Coupon?</h6>
            <input type='text' #coupon value='' class='couponinput' /><br /><br />
            <button class='apply'>Apply!</button>
        </div>
        <div class='col-md-6 col-12' style='text-align: right;'>
            <p class='subb'>
                <span>Sub Total</span><br />
            </p>
            <p class='taxb'>
                <span>Tax</span><br />
            </p>
            <p class='totalb'>
                <span>Total</span>
            </p>
            <p>
                <a [routerLink]="['']">
                    <button class='btn cs'>Continue Shopping</button>
                </a>
                <a [routerLink]="['/check-out']">
                    <button class='btn pc'>Proceed To Checkout</button>
                </a>
            </p>
        </div>
    </div>
    <br />
</div>
