<div class='container-fluid'>
    <p class='cart_summary'>
        <b>Order Summary</b>
    </p>
    <table class="table table-responsive-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Item Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of products; index as i;">
                <td>
                    {{ i + 1 }}
                </td>
                <td>
                    <span>
                        <img src='http://localhost:8000{{pro.image}}' style='width:50px; height:50px' class='img-responsive' />
                    </span>
                    <span class='pro_title'>
                        {{ pro.title }}
                    </span>
                </td>
                <td>
                    <span class='qty'>
                        {{ pro.quantity }}
                    </span>
                </td>
                <td style='text-align:left;'>
                    <span class='price'>
                        {{ pro.price | currency:"&#8377;"}}
                    </span><br />
                    <span class='mrp'>
                        <stroke><b>MRP</b> 
                            {{ pro.mrp | currency:"&#8377;"}}
                        </stroke>
                    </span><br />
                    <span class='discount'>
                        <b>Discount</b> 
                        {{ pro.discount | currency:"&#8377;"}} 
                        off
                    </span>
                </td>
                <td> 
                    {{ pro.final | currency:"&#8377;"}} 
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class='row'>
        <div class='col-md-4 col-12'>
            <h6><b>Shipping Address</b></h6>
            <p style='font-size: smaller;'>H. No. - 101, <br />New Friends Colony, <br />Sanjay Nagar, Ghaziabad - 201002</p>
        </div>

        <div class='col-md-4 col-12'>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value='1' (change)='choosePayment($event)'>
                <label class="form-check-label" for="flexRadioDefault1" style="color:rgb(90, 89, 89);">
                    Online Payments
                </label>
            </div>
            <p style='color:rgb(90, 89, 89); font-size: smaller;'>
                All transitions are secure and encrypted, and we never save your credit card information. To learn more, Please view our Privacy Policy.
            </p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value='2' (change)="choosePayment($event)" checked>
                <label class="form-check-label" for="flexRadioDefault2" style="color:rgb(90, 89, 89);">
                    Cash On Delivery
                </label>
            </div>
        </div>

        <div class='col-md-4 col-12' *ngIf='prices.hasOwnProperty("total")'>
            <div class='totals'>
                <b>Sub Total </b> {{ prices.total | currency:"&#8377;"}}<br />
                <b>Shipping Charges </b> {{ prices.shipping | currency:"&#8377;"}}<br />
                <b>Tax </b> {{ prices.tax | currency:"&#8377;"}}<br />
                <b>Grand Total </b> {{ prices.final | currency:"&#8377;"}}<br />
            </div>
        </div>
    </div>
    <br /><br />
    <p style='text-align: center;' *ngIf='!is_online'>
        <button class='order_place_btn' (click)="placeOrder()">PLACE ORDER</button>
    </p>
    <p style='text-align: center;' *ngIf='is_online'>
        <button class='order_place_btn' data-toggle="modal" data-target="#paymentModal">PAY NOW</button>
    </p>
</div>

<div class="modal fade" id="paymentModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><b>Payment Options</b></h5>
            </div>
            <div class="modal-body">
                <h6>Card</h6>
            </div>
        </div>
    </div>
</div>
