<div class="row header_menu">
    <div class="offset-md-1 col-md-10">
        <ul class="navbar-nav">
          <li class="nav-item cat1_dropdown" *ngFor='let cat of categories'>
            <a class="nav-link">{{cat.name}}
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </a>
            <app-home-menu [category]="cat.id" class='cat1_dropdown_content'></app-home-menu>
          </li>
          <!-- <li class="nav-item cat2_dropdown">
            <a class="nav-link">Men
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </a>
            <app-home-menu class='cat2_dropdown_content'></app-home-menu>
          </li> -->
          <!-- <li class="nav-item cat3_dropdown">
            <a class="nav-link">Home
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </a>
            <app-home-menu class='cat3_dropdown_content'></app-home-menu>
          </li> -->
        </ul>
    </div>
</div>

