<div class="row header_menu">
    <div class="col" style='text-align: center;'>
        <ul class="navbar-nav">
          <li class="nav-item cat1_dropdown" *ngFor='let cat of categories'>
            <a class="nav-link">{{cat.name}}
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
            </a>
            <div class='cat1_dropdown_content'>
              <app-home-menu [category]="cat.id"></app-home-menu>
            </div>
          </li>
        </ul>
    </div>
</div>

