<div class='container'>
    <div class='row'>
        <div class="offset-md-1 col-md-10">
            <!-- Seller Registration -->
            <div class='row' style='margin: 1% 0;'>
                <div class='col'>
                    <p class='title'>Seller Registration</p>
                    <p *ngIf='formGroup.value.shop_name' class='shop_title'>
                        {{formGroup.value.shop_name}}
                    </p>

                    <div class='card-body'>
                        <!-- Login Info -->
                        <form  [formGroup]="formGroup">
                            <div *ngIf="isInfoShow">
                                <legend class='login_info'>Login Info</legend>
                                <!-- User Id -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='userid'>
                                            <span>User ID(write your email ID)</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='email' id='inputField' placeholder='example@xyz.com' formControlName="userid" />
                                    </div>
                                </div>
    
                                <!-- User Id -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='shop_name'>
                                            <span>Shop Name</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='shop name' formControlName="shop_name" />
                                    </div>
                                </div>

                                <!-- Mobile Number -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='mobile'>
                                            <span>Phone</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='98823 92734' formControlName="phone" />
                                    </div>
                                </div>
    
                                <!-- Password -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='password'>
                                            <span>Password</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='password' id='inputField' placeholder='Password' formControlName="password" />
                                    </div>
                                </div>
    
                                <!-- Confirm Password -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='cnf_password'>
                                            <span>Confirm Password</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='email' id='inputField' placeholder='example@xyz.com' formControlName="cnf_password" />
                                    </div>
                                </div>
    
                                <!-- Address1  Detail -->
                                <div class='row'>
                                    <div class='col' style='width:100%;'>
                                        <label for='zipcode'>
                                            <span>Zip Code</span>
                                        </label><br />
                                        <input type='text' id='inputField' placeholder='ZipCode' formControlName="zip_code" (change)='onZipChange($event.target.value)' />
                                    </div>
                                    <div class='col' style='width:100%;'>
                                        <label for='city'>
                                            <span>City</span>
                                        </label><br />
                                        <input type='text' id='inputField' placeholder='City' formControlName="city" disabled />
                                    </div>
                                </div>
    
                                <!-- Address2  Detail -->
                                <div class='row'>
                                    <div class='col' style='width:100%;'>
                                        <label for='address'>
                                            <span>Address</span>
                                        </label><br />
                                        <input type='text' id='inputField' placeholder='Shop Address' formControlName="address" />
                                    </div>
                                    <div class='col' style='width:100%;'>
                                        <label for='city'>
                                            <span>State</span>
                                        </label><br />
                                        <input type='text' id='inputField' placeholder='State' formControlName="state" disabled />
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col">
                                        <iframe width="100%" height="500" id="gmap_canvas" 
                                        src="https://maps.google.com/maps?q=India&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                        </iframe>
                                    </div>
                                </div>
                                <p style='text-align: center; margin-top:3%;'>
                                    <!-- <input class='setup' type='submit' value='Setup My Store' />  -->
                                    <button class='setup' (click)="onInfoSubmit()">Setup My Store</button>
                                </p>
                            </div>

                            <div *ngIf="isBusinessShow">
                                <legend class='business'>BUSINESS DETAIL</legend>
                                <!-- GST Number -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='gst'>
                                            <span>GST Number</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='Enter GST Number' formControlName="gst" />
                                    </div>
                                </div>
    
    
                                <!-- Pan card and Adhar Card -->
                                <div class='row'>
                                    <div class='col-6 col-md-6' style='width:100%;'>
                                        <label for='pancard'>
                                            <span>Pan Card</span>
                                        </label><br />
                                        <input type='file' id='inputField' (change)='onPanChange($event)' />
                                    </div>
                                    <div class='col-6 col-md-6' style='width:100%;'>
                                        <label for='adharcard'>
                                            <span>Adhar Card</span>
                                        </label><br />
                                        <input type='file' id='inputField' (change)='onAdharChange($event)' />
                                    </div>
                                </div>

                                <!-- Logo and Shop Board -->
                                <div class='row'>
                                    <div class='col-6 col-md-6' style='width:100%;'>
                                        <label for='logo'>
                                            <span>Logo</span>
                                        </label><br />
                                        <input type='file' id='inputField' (change)='onLogoChange($event)' />
                                    </div>
                                    <div class='col-6 col-md-6' style='width:100%;'>
                                        <label for='board'>
                                            <span>Shop Board Picture</span>
                                        </label><br />
                                        <input type='file' id='inputField' (change)='onBoardChange($event)' />
                                    </div>
                                </div>
    
    
                                <!-- Desired Role -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='role'>
                                            <span>Desired Role</span>
                                        </label><br />
                                        <select id='inputField' formControlName="role">
                                            <option value='1'>Retailer</option>
                                            <option value='2'>Distrbutor</option>
                                            <option value='3'>Whole Seller</option>
                                        </select>
                                    </div>
                                </div>
    
                                <!-- Minimum Value -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='min'>
                                            <span>Minimum Home delivery Order Value</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='Minimum amount to process home delivery' formControlName="minimum_order" />
                                    </div>
                                </div>
    
                                <!-- Choose Category -->
                                <div class='row'>
                                    <div class='col' style='width:100%;'>
                                        <label for='cat'>
                                            <span>Choose Category</span>
                                        </label><br />
                                        <select id='inputField' formControlName="category">
                                            <option value='1'>Only Home Delivery</option>
                                            <option value='2'>Only Pick Up</option>
                                            <option value='3'>Both</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col' style='width:100%;' *ngIf='formGroup.value.category != 2'>
                                        <label for='service_pincode'>
                                            <span>Servicable Pincode</span>
                                        </label><br />

                                        <div class='row'>
                                            <div class='col-md-7 col-12 col-s-5'>
                                                <input type='text' id='inputField' placeholder='Pincode Seprated by Comma. eg. 102011,123243,423545' formControlName='pincodes' />
                                            </div>
                                            <div class='col-md-1 col-12 col-s-5'>
                                                <p style='color:gray; text-align: center;'>or</p>
                                            </div>
                                            <div class='col-md-4 col-12 col-s-5'>
                                                <input type='file' id='inputField' placeholder='upload file of servicable pincodes' (change)='onPincodeFileChange($event)' />
                                                <span style="font-size: small; color: red;font-weight: lighter;">.xlsx supported only</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <p style='text-align: center; margin-top:3%;'>
                                    <button class='setup' (click)='onBusinessSubmit()'>Start With Business</button><br />
                                    <button class='backButton' (click)="showInfoBlock()"> Back </button>
                                </p>
    
                            </div>

                            <div *ngIf="isBankShow">
                                <legend class='bank_detail'>BANK DETAILS</legend>
                                <!-- IFSC -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label for='ifsc'>
                                            <span>IFSC Code</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='' formControlName='ifsc' />
                                    </div>
                                </div>
    
                                <!-- City -->
                                <div class='row'>                               
                                    <div class='col-12' style='width:100%;'>
                                        <label for='city'>
                                            <span>City</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='City' formControlName='bank_city' />
                                    </div>
                                </div>
    
                                <!-- Branch -->
                                <div class='row'>                               
                                    <div class='col-12' style='width:100%;'>
                                        <label for='branch'>
                                            <span>Branch</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='' formControlName='branch' />
                                    </div>
                                </div>
    
                                <!-- City -->
                                <div class='row'>                               
                                    <div class='col-12' style='width:100%;'>
                                        <label for='ahn'>
                                            <span>Account Holder Name</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='' formControlName='account_holder' />
                                    </div>
                                </div>
    
                                <!-- City -->
                                <div class='row'>                               
                                    <div class='col-12' style='width:100%;'>
                                        <label for='an'>
                                            <span>Account Number</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='' formControlName='account_number' />
                                    </div>
                                </div>
    
                                <!-- City -->
                                <div class='row'>                               
                                    <div class='col-12' style='width:100%;'>
                                        <label for='bn'>
                                            <span>Bank Name</span>
                                        </label>
                                    </div>
                                    <div class='col-12' style='width:100%;'>
                                        <input type='text' id='inputField' placeholder='' formControlName='bank' />
                                    </div>
                                </div>
    
                                <!-- City -->
                                <div class='row'>
                                    <div class='col-12' style='width:100%;'>
                                        <label>
                                            Bank Proof Upload (cancelled cheque or Bank statement or Passbook with clear Account holder name, Account number and IFSC code)
                                        </label>
                                        <input type='file' id='inputField' placeholder='Upload Bank Document' (change)='onProofChange($event)' />
                                    </div>
                                </div>
                                
                                <p style='text-align: center; margin-top:3%;'>
                                    <button class='store' type='submit' (click)='onBankSubmit()' *ngIf='!isPorceessing'>Open Store</button><br />
                                    <button class='backButton' (click)="onInfoSubmit()"> Back </button><br />
                                    <span class='spinner-borderd text-danger' role='status' *ngIf='isPorceessing'></span>
                                </p>    
                            </div>

                        </form>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

