.title {
    text-align: center;
    align-items: center;
    font-size: larger;
    font-family: serif;
    margin: 2% 0;
}

label {
    font-weight: bold;
    font-size: small;
    color: rgb(87, 85, 85);   
}

#inputField  {
    width: 100%;
    padding: 5px 2%;
    border: none;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    font-size: small;
    margin: 0;
}
.shop_title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #ff5e00;
    font-family: 'Times New Roman', Times, serif;
}

.card-body {
    padding: 2% 5%;
    -moz-box-shadow: 0px 3px 8px rgb(192, 191, 190);
    -webkit-box-shadow: 0px 3px 8px rgb(192, 191, 190);
    box-shadow: 0px 3px 8px rgb(192, 191, 190);
}


.setup, .store {
    background-color: #ff5e00;
    color: white;
    font-weight: bold;
    font-size: small;
    padding: 1.5% 25px;
    border: none;
}

legend {
    margin-top: -5%;
    margin-bottom: 2%;
    -moz-box-shadow: 0px 3px 8px rgb(192, 191, 190);
    -webkit-box-shadow: 0px 3px 8px rgb(192, 191, 190);
    box-shadow: 0px 3px 8px rgb(192, 191, 190);
    color: rgb(92, 91, 91);
    font-size: medium;
    background-color: white;
    padding: 1% 0;
    font-weight: bold;
    text-align: center;
}

.login_info{
    width: 125px;
}

.business {
    width: 200px;
}

.bank_detail {
    width: 160px;
}
