<div class='row'>
    <div class="offset-md-1 col-md-10 content" *ngIf="isLoggedIn">
        <div class='row'>
            <div class='col'>
                <p class='checkout_header'>CHECKOUT</p>
                <div class='container'>
                    <ul class='progressbar'>
                        <li id='address'>Address</li>
                        <li id='shipping'>Shipping</li>
                        <li id='summary'>Summary</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <router-outlet></router-outlet>
        <br />
        <p class='container-fluid'>
            <span class='float-left' *ngIf='hasPrev'>
                <button class='btn float-right' (click)='onNavigatePrev()'>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="#ff5e00" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                    </svg>
                </button>
            </span>
            <span class='float-right' *ngIf='hasFwd'>
                <button class='btn float-right' (click)='onNavigateFwd()'>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="#ff5e00" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                    </svg>
                </button>
            </span>
        </p>
        <br />
        <br />
    </div>
    <div class='col' *ngIf="!isLoggedIn">
        <p style='text-align:center; font-size: larger; font-weight: bold; color: gray; padding: 2%;'>
            You are not logged In. Please Login or Register if not yet.
        </p>
    </div>
</div>
