<div class="container-fluid bs_header">
    <div class='row'>
        <div class='col-1'>
            <select #langselect class='language' (change) = "changeLang(langselect.value)">
                <option *ngFor='let lang of translate.getLangs()' [value]='lang' [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
        </div>
        <div *ngIf='isLoggedIn' class='col' style='text-align: right;'>
            <span style='color:#ff5e00; font-weight: bold; font-size: medium;'>
                Welcome
            </span>
        </div>

        <div *ngIf='!isLoggedIn' class='col' style='text-align: right;'>
            <!-- <span class='compare'>
                <a [routerLink]="['/compare']">{{ 'HEADER.COMPARE' | translate }}</a>
            </span> -->
            <span class='login'>
                <button class='btn login_text' data-toggle='modal' data-target='#login'>{{ 'HEADER.LOGIN' | translate }}</button>
            </span>
            <span class='seller'>
                <a [routerLink]="['/shop']">{{ 'HEADER.SELLER_REGISTRATION' | translate }}</a>
            </span>
            <span class='buyer'>
                <button class='btn buyer_regis' data-toggle='modal' data-target='#buyerRegistration'>{{ 'HEADER.BUYER_REGISTRATION' | translate }}</button>
            </span>
        </div>
    </div>
</div>


<div class="modal fade" id="buyerRegistration" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    <b style='margin-left:5px;'>Register</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col' style='width:100%' *ngIf='isRegisterBlockToggle'>
                        <p style='font-size:12px; font-weight: lighter;'>Create an account today to reap the benifits of a parsonalized shopping experience.</p>
                        <form [formGroup]='registerFormGroup' (ngSubmit)="sendRegisterOtp(registerFormGroup.value)">
                            <input type='text' class='user_input' placeholder='Email address (required)' required formControlName='email' /><br />
                            <input type='password' class='user_input' placeholder='Password (required)' required formControlName='password' /><br />
                            <input type='text' class='user_input' placeholder='Mobile (required)' required formControlName='mobile' /><br />
                            <input type='submit' value='Register' class='btn register_button' *ngIf='!isROTPsend' />
                            <span class="spinner-border text-danger" role="status" *ngIf='isROTPsend'></span>
                        </form>
                    </div>
                    <div class='col' style='width:100%' *ngIf='!isRegisterBlockToggle'>
                        <form [formGroup]="registerOtpFormGroup" (ngSubmit)="varifyRegisterOtp(registerOtpFormGroup.value)">
                            <input type='text' class='otp' placeholder='Enter OTP' required formControlName='register_otp' /><br />
                            <input type='submit' value='Verify OTP' class='btn verify_otp' />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            <b style='margin-left:5px;'>Login</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class='row'>
                <div class='col' style='width:100%' *ngIf='isLoginBlockToggle'>
                    <form [formGroup]='loginFormGroup' (ngSubmit)="login(loginFormGroup.value)">
                        <input type='email' class='email_input' placeholder='Your Email (required)' formControlName='login_input' required /><br />
                        <input type='password' class='email_input' placeholder='Password' formControlName='password_input' required /><br />
                        <div class='row'>
                            <div class='col'>
                                <input type='submit' value='Log in' class='btn login_button' />
                            </div>
                            <div class='col' style='text-align:right;'>
                                <button style='border: none; background-color:#ff5e00; padding: 1% 4%; color: white; font-size: small; font-weight: bold;' (click)='sendOtp()' *ngIf='!isLOTPsend'>Send OTP</button>
                                <span class="spinner-border text-danger" role="status" *ngIf='isLOTPsend'></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class='col' style='width:100%' *ngIf='!isLoginBlockToggle'>
                    <form [formGroup]="loginOtpFormGroup" (ngSubmit)="varifyLoginOtp(loginOtpFormGroup.value)">
                        <input type='text' class='otp' placeholder='Enter OTP' formControlName='login_otp' required /><br />
                        <input type='submit' value='Verify OTP' class='btn verify_otp' />
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
