.banner {
    width: 100%;
    background-size: 100% 100%;
    margin-left: 1px;
}

.top {
    padding: 5% 2%;
    margin: 5% 0;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sub_title {
    color: black;
    font-weight: lighter;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.shop_btn {
    margin-top: 1%;
    color: black;
    font-weight: bolder;
    font-size: small;
    padding: 1% 25px;
    border-radius:1px;
}


.title_service {
    color: rgb(36, 35, 35);
    font-weight: bolder;
    font-size: 10px;
}

.text_content {
    color: rgb(36, 35, 35);
    font-weight: light;
    font-size: x-small;
    font-style: italic;
}

.category_text {
    color: rgb(143, 143, 145);
    font-weight: lighter;
    font-size: 10px;
}

.product_title {
    color: rgb(17, 17, 17);
    font-weight: bolder;
    font-size: small;
}

.price {
    color: rgb(17, 17, 17);
    font-weight: lighter;
    font-size: small;
    padding: 6px 3px;
}

.cart-text {
    padding: 5%;
}

.cart {
    padding: 2px 8px;
    background-color: #ff5e00;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(175, 173, 173);
}
.cart:hover {
    -moz-box-shadow: 0px 3px 8px #ff5e00;
    -webkit-box-shadow: 0px 3px 8px #ff5e00;
    box-shadow: 0px 3px 8px #ff5e00;
}


.card:hover {
    -moz-box-shadow: 0px 10px 18px 15px rgba(189, 188, 186, 0.493);
    -webkit-box-shadow: 0px 10px 18px 15px rgba(189, 188, 186, 0.493);
    box-shadow: 0px 10px 18px 15px rgba(189, 188, 186, 0.493);
}

.fea_title {
    color: black;
    font-weight: bold;
    font-size: small;
}

.fea_cat {
    color: gray;
    font-weight: lighter;
    font-size: 10px;
}

.fea_price {
    color: black;
    font-weight: lighter;
    font-size: small;
}


.blog_title {
    color: black;
    font-weight: bold;
    font-size: small;
}

.blog_text {
    color: black;
    font-weight: lighter;
    font-size: 12px;
}

.date {
    height: 80px;
    text-align: center;
    background-color: #ff5e00;
    color: white;
    font-weight: bold;
    font-size: small;    
}

.card-body {
    text-align:left;
    padding:2px 10px;
    margin: 5px 0;
}

.banner_img {
    height: 450px;
}

ol {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.carousel-indicators li {
    background-color: rgba(100, 100, 100, 0.281);
    width: 33%;
    margin: 0;
    margin-bottom: 0%;
    margin-left: 0;
    padding: 0;
    border:1px solid rgb(241, 239, 239);
    height: 100px;
    text-indent: 19px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

@media screen and (max-width: 425px) {
    .fe {
        margin-left: 2%;
    }
    .title { font-size: medium;}
    .sub_title { font-size: 14px;}
}

a {
    color: black;
    text-decoration: none;
}

.pay_block, .dth_block, .recharge_block, .loan_block, .insurance_block, .wallet_block {
    border-right: 1px solid rgb(168, 166, 166);
    text-align: center;
    margin: 2% 0;
    font-family: monospace;
}


.wallet_block {
    border: none;
}

.pay_block>a:hover {
    color: #ff5e00;
}
 .dth_block>a:hover {
    color: #ff5e00;
}
 .recharge_block>a:hover {
    color: #ff5e00;
}
 .loan_block>a:hover {
    color: #ff5e00;
}
 .insurance_block>a:hover {
    color: #ff5e00;
}
 .wallet_block >a:hover {
    color: #ff5e00;
}

.add_wishlist_btn{
    background-color: white;
    border: none;
}

.add_wishlist_block:hover .add_wishlist_btn  {
    color: rgb(268, 125, 12);
}

.blog {
    border: 1px solid rgb(184, 182, 182);
    padding: 3%;
}

.cat1, .cat3 {
    width: 100%;
    height: 400px;
    padding:5px 0;
    margin: 0;
    opacity: 1;
}

.cat21, .cat22 {
    width: 100%;
    height: 200px;
    padding: 5px 0;
    margin: 0;
    opacity: 0.8;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cat_title {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.cat_sub_title {
    color: white;
    font-weight: lighter;
    font-size: 24px;
}
.cat1:hover, .cat3:hover, .cat21:hover, .cat22:hover {
    opacity: 1;
}

.popular_cat {
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px 0;
}

.custom-slider-main{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}


.pull-left {
    float: left;
    width: 30px;
    top: 35%;
    position: absolute; 
    z-index: 1;
}

.pull-right {
    float: right;
    width: 30px;
    right: 3%;
    top: 35%;
    position: absolute; 
}


.left_arrow {
    padding: 25px 10px;
    background-color: white;   
}

.right_arrow {
    padding: 25px 10px;
    background-color: white;   
}