.product {
    color: black;
    font-weight: bolder;
    font-size: medium;
    font-family: sans-serif;
}

.final_price {
    color: rgba(19, 19, 19, 0.7);
    font-size: 30px;
    font-weight: lighter;
    font-family: Verdana, Arial;
}

.actual_price {
    margin: 2% 0;
    color: gray;
    font-weight: lighter;
    font-size: small;
    text-decoration: line-through;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.offer {
    color: #ff5e00;
    font-weight: lighter;
    font-size: small;
    margin-left: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid  #ff5e00;
    padding: 3px 10px;
}

.add_wishlist_btn {
    padding: 3%;
    border: 1px solid #ff5e00;
    background-color: white;
    border-radius: 15%;
}

.add_cart_btn {
    margin-left: 3%;
    color: white;
    background-color: #ff5e00;
    font-weight: bolder;
    font-size: small;
    padding: 4% 26%;
    border: none ;
    border-radius: 1px;
}
.explore:hover {
    padding: 0;
    -moz-box-shadow: 0px 3px 8px rgb(152, 169, 122);
    -webkit-box-shadow: 0px 3px 8px rgb(152, 169, 122);
    box-shadow: 0px 3px 8px rgb(152, 169, 122);
}

.add_cart_btn:hover, .cart:hover, .add_wishlist_btn:hover {
    -moz-box-shadow: 0px 3px 8px #ff5e00;
    -webkit-box-shadow: 0px 3px 8px #ff5e00;
    box-shadow: 0px 3px 8px #ff5e00;
}

ul {
    display: inline-block;
}

li {
    display: inline;
}

.color {
    height: 50px;
    width: 50px;
    background-color: rgb(123,234,31);
}

.size_btn {
    margin-right: 4px;
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    border: 1px solid rgba(179, 176, 176, 0.4);
}

.size_btn:hover {
    border: 2px solid #ff5e00;
}


.description_title {
    color: black;
    font-weight: bolder;
    font-size: small;
    font-family: sans-serif;
}

.description_content {
    color: rgba(19, 19, 19, 0.7);
    font-weight: lighter;
    font-size: small;
    font-family: sans-serif;

}

.quantity_text {
    font-size:small; 
    font-weight: bold; 
    color: black; 
    padding: 2% 6%; 
    border: 1px solid rgba(123, 123, 124, 0.4); 
    background-color: rgba(131, 130, 130, 0.1);
}


.add_quantity {
    border: none;
    padding: 1% 2%;
    background-color: white;
}

.substract_quantity {
    border: none;
    padding: 1% 2%;
    background-color: white;
}

.card-img-top {
    background-color: rgba(224, 223, 223, 0.3);
}


.card-body, .card {
    border: none;
    box-shadow: none;
    text-align: left;
}
.category_text {
    color: rgb(143, 143, 145);
    font-weight: lighter;
    font-size: 10px;
}

.product_title {
    color: rgb(17, 17, 17);
    font-weight: bolder;
    font-size: small;
}

.price {
    color: rgb(17, 17, 17);
    font-weight: lighter;
    font-size: small;
    padding: 6px 3px;
}

.cart-text {
    padding: 5%;
}

.cart {
    padding: 2px 8px;
    background-color: #ff5e00;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(175, 173, 173);
}

.expo {
    padding: 0 2%;
}


.add_title {
    color: black;
    font-weight: lighter;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.detect {
    border: none;
    background-color: white;
    font-weight: lighter;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}


.address_input {
    width: 100%;
    height: auto;
    padding:1% 2%;
    font-weight: lighter;
    font-size: medium;
    text-indent: 1%;
    border: 1px solid #ff5e00;
    border-radius: 3%;
    font-family: serif;
}
.other_option, .address_input, .map_frame {
    -moz-box-shadow: 0px 3px 8px rgb(152, 169, 122);
    -webkit-box-shadow: 0px 3px 8px rgb(152, 169, 122);
    box-shadow: 0px 3px 8px rgb(152, 169, 122);
    border-radius: 5%;
}

.shop_title {
    font-weight: bold;
    font-size: medium;
}

.span_text {
    font-size: large;
    font-weight: bold;
}

.shop_url:hover .span_text {
    color: #ff5e00;
}

.span_price {
    color: #ff5e00;
    float: right;
    margin-right: 25px;
    font-size: large;
    font-weight: bold;
}


.disc_text {
    padding: 3px 3%;
    font-weight: lighter;
    font-size: large;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.related {
    margin: 2%;
}

@media screen and (max-width: 500px) {
    .expo {
        padding: 0%
    }
}


a {
    color: black;
    text-decoration: none;
}