.blog_image {
    position: relative;
}
.details_block {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    height: 100%;
    text-align: center;
}

.blog_image:hover .details_block {
    opacity: 1;
}
