<div class='row'>
    <div class='col-12'>
        <p class='result_title'>Found {{ blogs.length }} results for <b>"{{ query }}"</b></p>
        <hr style='height: 2px; width: 100px; background-color: #ff5e00; margin-left: 0; margin-top: -5px;'>
    </div>
</div>
<div *ngIf='blogs.length'>
    <div class='row'>
        <div class='col-md-6 col-12' *ngFor='let blog of blogs'>
            <div class='blog_image'>
                <img src='assets/images/blog.jpg' alt='blog' style='width:100%; height:250px;' />
                <div class="details_block">
                    <h1>{{ blog.title }}</h1>
                </div>
            </div>
        </div>    
    </div>
</div>