.cat_img {
    width: 25%;
    height: 50%;
}

a {
    color: black;
    font-weight: lighter;
    font-size: small;
    width: 100%;
    line-height: 20px;
}

@media only screen and (max-width: 425px) {
    a { font-size: 8px;}
}
