<div *ngIf='blogs.length >0'>
    <div class='row' *ngFor='let blog of blogs | paginate: config' style='margin:2% 0;'>
        <div class='col'>
            <img src='assets/images/blog.jpg' alt='blog' style='width:100%; height:200px;' />
        </div>
        <div class='col'>
            <div style="height:200px; overflow: hidden;">
                <p>
                    <span class='title'>
                        <a [routerLink]="['./', blog.id]" style='color: black;'>{{ blog.title }}</a>
                    </span>
                    <br />
                    <span class='normal'>
                        <span style='margin-right: 3%'>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="#ff5e00" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                            {{ blog.date_create }}
                        </span>
                        <span style='margin-right: 3%'>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="#ff5e00" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            {{ blog.author }}
                        </span>
                        <span style='margin-right: 3%'>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-dots-fill" fill="#ff5e00" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                            {{ blog.comment.length }} Comments
                        </span>
                    </span>
                </p>
                <p class='content'>
                    {{ blog.description }}
                 </p>
            </div>
        </div>
    </div>
    <hr />
    <br />
    <div class='pagenation'>
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>
</div>
