<div class='container'>
    <div class='row' style='margin: 1% 0;'>
        <div class='col-md' style='padding:2%;'>
            <div class='row'>
                <h5 style='font-weight:bolder; margin-left: 2%; margin-bottom: 5%;'>Billing Address</h5>
                <br />
                <div class='row' style='padding: 1%; margin:1% 0;' *ngFor='let address of addreses'>
                    <div class='col-2 col-md-1'>
                        <input type='radio' name='billingAddress' value='{{address.id}}' (change)="billingAddress($event)" />
                    </div>
                    <div class='col-10 col-md-11 add'>
                        <p style='margin-top:-5px;'>
                            <span class='name'>{{ address.full_name }}</span> 
                            <span class='number'>{{ address.mobile }}</span>
                            <span class='float-right tag' *ngIf='address.add_type == 1'>HOME</span> 
                            <span class='float-right tag' *ngIf='address.add_type == 2'>WORK</span> 
                            <br />
                            <span class='address'>{{ address.locality }} {{ address.address }} Near {{ address.landmark }} {{ address.pincode.city.city_name }}, {{ address.pincode.city.state.state_name }} - <b>{{ address.pincode.pincode }}</b></span>
                        </p>
                        <hr>
                    </div>
                </div>

                <button class='add_address' data-toggle='modal' data-target='#newAddress'>ADD A NEW ADDRESS</button>

            </div>
            <hr>
            <div class='row' *ngIf='addreses.length != 0'>
                <label style='font-weight:bolder; font-size: small; color: gray; margin-left:2%;'>
                    <input type='checkbox' name='isShipping' [checked]="toggle" (change)="showShippingBlock()"  /> Check if Shipping and Billing address are different. 
                </label>
            </div>
        </div>
        <div class='col-md' style='padding:2%;'>
            <div class='row' [hidden]="!toggle">
                <h5 style='font-weight:bolder; margin-left: 2%; margin-bottom: 5%;'>Shipping Address</h5>
                <br />
                <div class='row' style='padding: 1%; margin:1% 0;' *ngFor='let address of addreses'>
                    <div class='col-2 col-md-1'>
                        <input type='radio' name='shippingAddress' value='{{address.id}}' (change)="shippingAddress($event)" />
                    </div>
                    <div class='col-10 col-md-11 add'>
                        <p style='margin-top:-5px;'>
                            <span class='name'>{{ address.full_name }}</span> 
                            <span class='number'>{{ address.mobile }}</span>
                            <span class='float-right tag' *ngIf='address.add_type == 1'>HOME</span> 
                            <span class='float-right tag' *ngIf='address.add_type == 2'>WORK</span> 
                            <br />
                            <span class='address'>{{ address.locality }} {{ address.address }} Near {{ address.landmark }} {{ address.pincode.city.city_name }}, {{ address.pincode.city.state.state_name }} - <b>{{ address.pincode.pincode }}</b></span>
                        </p>
                        <hr>
                    </div>
                </div>
                <button class='add_address' data-toggle='modal' data-target='#newAddress'>ADD A NEW ADDRESS</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="newAddress" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-geo-fill" fill="#ff5e00" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
              </svg>
              <b style='margin-left:5px;'>New Address</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <address-template></address-template>
        </div>
      </div>
    </div>
  </div>