.main {
    margin: 0;
    padding: 0;
}
.row {
    margin: 0;
    padding: 0;
  }
  
.result_title {
    /* font-weight: lighter; */
    font-size: larger;
    font-family: sans-serif;
}

.filter_title {
    width: 95%;
    margin: 2%;
    padding: 2%;
    color: gray;
    font-weight: bold;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sort_title {
    margin: 2%;
    padding: 2%;
    color: gray;
    font-weight: bold;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.foods {
    width: 95%;
    margin: 4% 2%;
    padding: 2%;
    border: none;
    border-bottom: 1px solid gray;
    background-color: white;
}

.sort {
    margin: 0;
    padding: 2%;
    border: none;
    background-color: white;
}

@media only screen and (min-width: 768px) {
    .main { margin: 0; padding: 4%;}
}

@media screen and (max-width: 768px) {
    .result_title {font-size:small;}
}

.filters {
    display: inline-block;
    border: none;
    background-color: red;
    padding: 5px;
    color: white;
    font-size: small;
    border-radius: 2px;
}

.filt_title {
    font-size: medium;
    font-weight: bold;
    color: rgb(95, 93, 93);
    font-family: Arial;
    margin-right: 10px;
}