<div class='container-fluid' style='padding: 2%'>
    <div class='row'>
        <div class='col-md-2 col-2'>
            <span class='subcat'>SUB CATEGORIES</span><br /><br />
            <select class='sub_cat' (change)="onChooseSubCategory($event.target.value)">
                <option value='all'>All</option>
                <option *ngFor='let sub of sub_categories' [value]="sub.name">{{ sub.name }}</option>
            </select>

        </div>
        <div class='col-md-9 col-9' style='padding-left:5px; border-left: 1px solid rgb(185, 184, 184);'>
            <div class='row'>
                <div class='col'>
                    <span class='title'>{{ category?.name}}</span> - 
                    <span class='items'>{{ products.length }} items</span>
                </div>
                <div class='col' style='text-align: right;'>
                    <p class='drop_block'>
                        <span>
                            <select class='sort' (change)="onChange($event.target.value)">
                                <option *ngFor='let opt of sorting_options' [value]="opt.value">{{ opt.viewValue}}</option>
                            </select>
                        </span>
                    </p>
                </div>
            </div>
            <hr />
            <p style='text-align: center'>
                <img src='http://localhost:8000{{ category?.banner }}' alt='...' class='cat_banner' />
            </p>
            <br />
            <div *ngIf='products.length != 0'>
                <div class='row'>
                    <div class='col-md-3 col-6 col-s-4' *ngFor='let product of products | paginate: config'>
                        <app-product-template [product]='product'></app-product-template>
                    </div>
                </div>
                <br />
                <div class='pagenation'>
                    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                </div>
            </div>
            <div *ngIf='products.length == 0'>
                <p style='text-align: center; font-weight: bold; font-size: large;'>
                    No Data Exist
                </p>
            </div>


        </div>
    </div>

</div>
