.go_cart {
    color: gray;
    font-size: medium;
    font-weight: bold;
    padding:2% 0;
    color: #ff5e00;
}

.go_cart:hover {
    text-decoration: underline;
}

td {
    font-size: small;
}

.price {
    font-size: small;
    font-weight: bold;
    color: #ff5e00;
    padding: 0 2%;

}

.price_title {
    font-size: small;
    font-weight: bolder;
    color: gray;
}

@media  screen and (max-width: 425px) {
    td > img {display: none}
    td {font-size: 10px;}
}

.increment, .decrement {
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
}

.final_price {
    font-size: medium;
    font-weight: bold;
    color: #ff5e00;
}